.u-section-1 .u-sheet-1 {
  min-height: 836px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 21px 31px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 877px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 735px;
}

.u-section-4 .u-container-layout-1 {
  padding: 24px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: 14px 29px 0;
}

.u-section-4 .u-image-1 {
  width: 367px;
  height: 241px;
  margin: 40px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 735px;
}

.u-section-4 .u-container-layout-2 {
  padding: 24px 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  margin: 20px 29px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 240px;
  height: 240px;
  margin: 98px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 606px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 606px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 237px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 480px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 224px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 557px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 34px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-image-1 {
  width: 314px;
  height: 314px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 431px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-image-2 {
  width: 442px;
  height: 207px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-5 .u-image-2 {
    width: 360px;
    height: 169px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 408px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 408px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 160px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 331px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 219px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-2 {
  margin: 44px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 219px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-text-4 {
  margin: 44px auto 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 181px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 312px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1883px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1128px;
  margin: 38px auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 666px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-text-2 {
  margin: 0 auto;
}

.u-section-7 .u-image-1 {
  width: 282px;
  height: 282px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px 44px 0;
}

.u-section-7 .u-text-4 {
  margin: 0 auto 0 44px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 666px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-7 .u-image-2 {
  width: 282px;
  height: 282px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.5rem;
  margin: 20px 44px 0;
}

.u-section-7 .u-text-7 {
  margin: 0 auto 0 44px;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-7 .u-layout-wrap-2 {
  width: 1128px;
  margin: 0 auto 60px 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 910px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-7 .u-text-8 {
  margin: 44px auto 0;
}

.u-section-7 .u-image-3 {
  width: 282px;
  height: 282px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-9 {
  font-size: 1.5rem;
  margin: 20px 45px 0;
}

.u-section-7 .u-text-10 {
  margin: 0 auto 0 45px;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 910px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-7 .u-text-11 {
  margin: 44px auto 0;
}

.u-section-7 .u-image-4 {
  width: 282px;
  height: 282px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-12 {
  font-size: 1.5rem;
  margin: 20px 44px 0;
}

.u-section-7 .u-text-13 {
  margin: 0 auto 0 44px;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1620px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 555px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 555px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 758px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 758px;
  }

  .u-section-7 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 340px;
  }
}