body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: lightgray;
    color: black;
    margin: 0;
}

#countdown {
    font-size: 3em;
}